<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="网站基本描述信息" content="">
    <meta name="作者名" content="">

    <title>Vue.js学习</title>

    <!-- 必须放在前面 -->
    <script src="js/vue.js"></script>
  </head>

  <body>
    <div id="app">
      <p>{{message}}</p>
    </div>

    <div id="app-2">
      <span v-bind:title="message">
        鼠标悬停-查看动态信息
      </span>
      <p>{{value}}</p>
    </div>

    <div id="app-3">
        <p v-if="seen">控制切换一个元素是否显示</p>
    </div>

    <!-- 条件控制 -->
    <div id="app-4">
        <ol>
            <li v-for="todo in todos">
                {{todo.text}}
            </li>
        </ol>
        
        <ol>
            <li v-for="name in names">
                {{name.text}}
            </li>
        </ol>
    </div>

    <!-- 通过js来逆转消息, 同时更新 DOM 中的状态 -->
    <div id="app-5">
      <p>{{message}}</p>
      <button v-on:click="reverseMessage">逆转消息</button>
    </div>

    <!-- 表单输入和应用状态之间的双向绑定操作 -->
    <div id="app-6">
      <p>{{message}}</p>
      <input v-model="message">
    </div>

    <div id="app-7">
      <ol>
        <todo-item
         v-for="item in groceryList"
         v-bind:todo="item"
         v-bind:key="item.id">
        </todo-item>
      </ol>
    </div>
    
    <div id="watch-example">
      <p>
        Ask a yes/no question:
        <input v-model="question">
      </p>
      <p>{{ answer }}</p>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
    <script src="js/helloworld.js"></script>
  </body>

</html>
